.eventheader {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: solid;
  min-width: 80vw;
  -webkit-box-shadow: 5px 5px 5px 0px #000000,
    22px 17px 20px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 5px 5px 5px 0px #000000, 22px 17px 20px 3px rgba(0, 0, 0, 0.18);
}

.eventscontainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  border: solid;
  min-height: 50vh;
  -webkit-box-shadow: 5px 5px 5px 0px #000000,
    22px 17px 20px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 5px 5px 5px 0px #000000, 22px 17px 20px 3px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.adminevents {
  padding-top: 1rem;
  padding-left: 8rem;
  min-width: 40vw;
}

.notadminevents {
  padding-top: 1rem;
  padding-right: 8rem;
  min-width: 40vw;
}
