.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem;
  background-color: #f9eaff;
}

.menu-right {
  display: flex;
  justify-content: flex-end;

  width: 50vw;
}

.menu-right button {
  margin-left: 10px;
}

.Logo {
  background-color: red;
  padding-inline: 1rem;
  margin: 1rem;
  color: white;
}

a {
  text-decoration: none;
}
